body {
    margin: 0;
    padding: 0;
    font-family: 'Inknut Antiqua', serif;
    line-height: 1.5;
}

#site_wrap {
    display: grid;
    grid-template-columns: 1fr 30px 600px 30px 125px 600px 30px 1fr;
    grid-template-rows: 42.5px 40px 122px 77.5px 400px 1fr;
    grid-template-areas:
        "header header header header header header header header"
        "blank blank blank blank blank blank blank blank"
        "banner banner banner banner banner banner banner banner"
        "motto motto motto motto motto motto motto motto"
        "images images images images images scrollable scrollable ."
        "images images images images images scrollable scrollable ."
        "footer footer footer footer footer footer footer footer";
    background-color: white;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 10vw;
    max-width: 175px;
    z-index: 10;
    transition: filter 0.3s, transform 0.3s;
}
.logo:hover {
    filter: invert(1);
}

.header {
    background-color: #4E4B69;
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .site_title {
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding-left: clamp(3.5vw, 10vw, 150px);
}
.header .nav {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}
.header .nav a {
    margin: 0 4px;
    padding: 7.5px 15px;
    color: white;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 50em;
    font-size: 15px;
}
.header .nav a:hover, .header .nav .active {
    background-color: #A4ACDF;
    color: #4E4B69;
    font-weight: bold;
}

.banner {
    background-image: url("images/Front_Page_Image.png");
    grid-area: banner;
    background-size: cover;
}

.motto {
    background-color: white;
    grid-area: motto;
    color: #934376;
    font-size: 35px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.images {
    background-color: white;
    grid-area: images;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 15px;
}
.image-1, .image-2, .image-3 {
    width: 100%;
    max-width: 350px;
    aspect-ratio: 3/2;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.image-1 { background-image: url("images/Image_1.png"); }
.image-2 { background-image: url("images/Image_2.png"); }
.image-3 { background-image: url("images/Image_3.png"); }

.scrollable {
    background-color: #C1C8F4;
    grid-area: scrollable;
    color: white;
    overflow-y: auto;
    border: 20px solid #A4ACDF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 700px; 
    max-height: 700px; 
}
.scrollable h2 {
    background-color: #6b6981;
    font-size: 18px;
    margin: 0;
    padding: 5px;
    color: white;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 5;
}
.scrollable ul {
    list-style-type: none;
    padding: 0;
    margin: 10px;
    color: #2E2A2A;
    font-size: 22.5px;
    line-height: 4;
}
.scrollable li {
    margin-bottom: 10px;
    padding: 5px;
    position: relative;
}

.divider {
    border: none; border-top: 2px dashed;
}
.footer {
    background-color: white;
    grid-area: footer;
}

@media screen and (max-width: 480px) {
    #site_wrap {
        grid-template-columns: 50px 50px;
        grid-template-rows: 36px 17px 86.5px 27px 310px 282.5px 1fr;
        grid-template-areas:
            "header header"
            "blank blank"
            "banner banner"
            "motto motto"
            "images images"
            "scrollable scrollable"
            "footer footer";
    }
}
