body {
    margin: 0;
    padding: 0;
    font-family: 'Inknut Antiqua', serif;
    line-height: 1.5;
    background: white;
}

#Home_wrap {
    display: grid;
    grid-template-columns: 1fr 30px 600px 30px 125px 600px 30px 90px;
    grid-template-rows: 42.5px 40px 122px 77.5px 400px 1fr;
    grid-template-areas:
        "header header header header header header header header"
        "blank blank blank blank blank blank blank blank"
        "banner banner banner banner banner banner banner banner"
        "motto motto motto motto motto motto motto motto"
        "images images images images scrollable scrollable . ."
        "images images images images scrollable scrollable . ."
        "footer footer footer footer footer footer footer footer";
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 20vw;
    max-width: 250px;
    z-index: 10;
    pointer-events: auto;
}

.logo:hover {
    filter: invert(1);
}

.header {
    background-color: #4E4B69;
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.site_title {
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding-left: clamp(7vw, 30vw, 300px);
}
.site_title:hover {
    background-color: #A4ACDF;
    color: #2E2A2A;
    border-radius: 5px;
    font-weight: bold;
}

.Navigationbar {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.Navigationbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 0 15px;
    transition: 0.3s;
}

.Navigationbar a:hover, .Navigationbar .active {
    background-color: #A4ACDF;
    color: #2E2A2A;
    border-radius: 5px;
    font-weight: bold;
}

.banner {
    background: url("images/Front_Page_Image.png") center/cover no-repeat;
    grid-area: banner;
}

.motto {
    background: white;
    grid-area: motto;
    color: #934376;
    font-size: 35px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.images {
    background: white;
    grid-area: images;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 15px;
}

.image-1, .image-2, .image-3 {
    width: 100%;
    max-width: 350px;
    aspect-ratio: 3/2;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.image-1 { background-image: url("images/Image_1.png"); }
.image-2 { background-image: url("images/Image_2.png"); }
.image-3 { background-image: url("images/Image_3.png"); }

.scrollable {
    background: #C1C8F4;
    grid-area: scrollable;
    color: white;
    overflow-y: auto;
    border: 20px solid #A4ACDF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 700px;
    max-height: 700px;
}

.scrollable h2 {
    background: #6b6981;
    font-size: 30px;
    margin: 0;
    padding: 5px;
    color: white;
    text-align: center;
    position: sticky;
    top: 0;
}

.scrollable ul {
    list-style: none;
    padding: 0;
    margin: 10px;
    color: #2E2A2A;
    font-size: 22.5px;
    line-height: 4;
}

.footer {
    background: white;
    grid-area: footer;
}
.menu-toggle {
    display: none;
}

@media screen and (max-width: 480px) {
    #site_wrap {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-template-areas:
            "header"
            "blank"
            "banner"
            "motto"
            "images"
            "scrollable"
            "footer";
    }

    .logo {
        width: 40vw;
        max-width: 150px;
    }

    .header {
        flex-direction: row;
        padding: 10px;
    }

    .hamburger {
        display: block;
        width: 30px;
        cursor: pointer;
    }

    .hamburger span {
        display: block;
        height: 3px;
        background: white;
        margin: 5px 0;
    }

    .Navigationbar {
        display: flex;
        list-style: none;
        flex-direction: column;
        background: #4E4B69;
        position: absolute;
        right: 10px;
        top: 50px;
        padding: 10px;
        border-radius: 5px;
        list-style: none;
    }

    .menu-toggle:checked ~ .Navigationbar {
        display: none;
    }

    .banner {
        height: 150px;
    }

    .motto {
        font-size: 24px;
        padding: 10px;
        text-align: center;
    }

    .images {
        flex-wrap: nowrap;
        justify-content: center;
    }

    .image-1, .image-2, .image-3 {
        width: 80%;
        max-width: 250px;
        aspect-ratio: 4/3;
    }

    .scrollable {
        height: 300px;
        max-height: 300px;
        border-width: 10px;
        padding: 10px;
    }

    .scrollable ul {
        font-size: 18px;
        line-height: 2.5;
        text-align: center;
    }
}

/* Gallery page style */
.gallery-wrap {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto; 
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:
        "header header header header header header"
        "blank blank blank blank blank blank"
        "banner banner banner banner banner banner"
        "page-header-gallery page-header-gallery page-header-gallery page-header-gallery page-header-gallery page-header-gallery"
        "Mac-Dougal-Art-Show Mac-Dougal-Art-Show Mac-Dougal-Art-Show Mac-Dougal-Art-Show Mac-Dougal-Art-Show Mac-Dougal-Art-Show"
        "footer footer footer footer footer footer";
    padding: 20px;
    gap: 20px;
    background: white;
}

.page-header-gallery {
    grid-area: page-header-gallery;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 35px;
    line-height: 1.6;
    color: #333;
    text-align: center;
}

.Mac-Dougal-Art-Show {
    grid-area: Mac-Dougal-Art-Show;
    font-size: 20px;
    font-weight: bold;
    color: #4E4B69;
    text-align: center;
    margin-bottom: 20px;
}
.gallery-container-1 {
    background: white;
    grid-area: images;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 15px;
}
.gallery-container-2 {
    background: white;
    grid-area: images;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 15px;
}

.gallery-image-1, .gallery-image-2, .gallery-image-3, .gallery-image-4 {
    width: 100%;
    max-width: 450px;
    aspect-ratio: 3/2;
    background-size:contain;
    background-repeat: no-repeat;
    background-color: #6b6981;
    background-position: center;
    border-radius: 10px;
}

.gallery-image-1 { background-image: url("images/Art_Show_Image_1.png"); }
.gallery-image-2 { background-image: url("images/Art_Show_Image_2.png"); }
.gallery-image-3 { background-image: url("images/Art_Show_Image_3.png"); }
.gallery-image-4 { background-image: url("images/Art_Show_Image_4.png"); }